.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    width: 470px;
    height: 340px;
}

.banner-text>h1 {
    color: #FF4081;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    margin-bottom: 20px;
}

.banner-text>p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.banner>img {
    margin: 5%;
}

.container-classes {
    background-color: #F7F7F7;
}

.class-box {
    display: flex;
    margin-top: 75px;
    margin-bottom: 75px;
}

.line {
    width: 80%;
    height: 2px;
    background-color: #C4C4C4;
}