.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    width: 470px;
    height: 340px;
}

.banner-text>h1 {
    color: #FF4081;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    margin-bottom: 20px;
}

.banner-text>p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.banner>img {
    margin: 5%;
}

.container-classes {
    background-color: #F7F7F7;
    padding: 75px 0;
}

.class-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.class-text {
    width: 500px;
    margin-left: 60px;
}

.class-text>h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.class-text>p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.line {
    width: 80%;
    height: 3px;
    margin: 75px auto;
    background-color: #C4C4C4;
}