/* MOBILE FIRST */
.container-title {
  display: flex;
  /* bloco em coluna */
  flex-direction: column;
  /* espaço do topo */
  margin-top: 30px;
  /* espaço alem da margim e borda */
  padding: 16px;

  justify-content: center;
  /* alinha no centro da pagina */
  align-items: center;
}
/* CONFIGURAR IMAGEM */
.container-title img {
  /* largura e dimencionamento da imagem */
  width: 390px;
}
/* alinhar texto */
.title {
  text-align: center;
}
.title h2 {
  /* tamanho da fonte */
  font-size: 46px;
  color: #ff4081;
}

.title p {
  /* margim em cima e baixo */
  margin: 16px 0;
  font-size: 20px;
  color: #555555;
}

.title-button a {
  color: #ff4081;
}
.title-button {
  border: 2px solid #ff4081;
  border-radius: 62px;
  width: 219px;
  height: 51px;
  margin-bottom: 25px;
}

/* CONTAINER COURSE */

.container-course {
  /* alinhando todos */
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #f6f6f6;
}
/* marfin no 1 filho da div */
.title-course:first-child {
  margin-bottom: 35px;
}

/* margin ultimo filho da div */
.title-course:last-child {
  margin-top: 35px;
}

/* padronizando as imagens */
.title-course img {
  width: 390px;
}

.title-course h3 {
  font-size: 33px;
  margin-top: 16px;
  color: #ff4081;
}
.title-course p {
  font-size: 20px;
  margin: 16px 0px;
}

.button-title-course {
  border: 2px solid #ff4081;
  border-radius: 62px;
  margin-bottom: 25px;
  background-color: #ff4081;
}

.button-title-course a {
  color: #ffffff;
}

.button-title-course a button {
  height: 51px;
  width: 100%;
}

/* O QUE FALAM SOBRE NOS */

.container-about {
  text-align: center;
  margin: 25px 0px;
  padding: 16px;
}

.container-about h2 {
  color: #009688;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
}

/* padronizando as mesmas classes css */
.container-about,
.wrapper-about,
.content-left,
.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

/* padronizandos as person com as mesmas classe */
.person-left-1,
.person-left-2,
.person-right-1,
.person-right-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.text-main,
.text-name {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-align: justify; /* tcentralizar textos  */
  font-weight: 300; /* espessura da linha  */
}

.text-name {
  font-weight: 400;
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*  MAIS CONTEÚDO PARA VOCÊ */

.conteiner-posts {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e5e5e5;
  margin-top: 40px;
  justify-content: center;
}

.conteiner-posts h2 {
  margin: 25px 0px;
  color: #009688;
  font-weight: 700;
  text-transform: uppercase;
}

.posts {
  display: flex;
  flex-direction: column;
}

.sub-tittle h3 {
  color: #009688;
  margin-top: 10px;
  font-size: 20px;
}

.sub-tittle p {
  margin-bottom: 25px;
}

/* Button RODA pé */

.button-mais a {
  color: #ff4081;
}
.button-mais {
  display: flex;
  border: 2px solid #ff4081;
  border-radius: 62px;
  width: 219px;
  height: 51px;
  margin: 25px auto;

  justify-content: center;
  align-items: center;
}

/* definindo o modelo do desktop */
@media screen and (min-width: 1024px) {
  .container-title {
    /* blocos em linha */
    flex-direction: row;
    margin-top: 125px;
    justify-content: space-evenly;
  }

  .title {
    text-align: left;
  }

  .title h2 {
    width: 488px;
    font-size: 60px;
  }

  .title p {
    font-size: 27px;
    margin: 19px 0 38px 0;
  }

  .title-button {
    border-radius: 62px;
  }

  /* CONTAINER COURSE */

  /* imagem tamanho */
  .container-title img {
    width: 501px;
  }

  .container-course h3 {
    font-size: 25px;
    margin-bottom: 23px;
    margin-top: 45px;
  }

  .container-course p {
    font-size: 17px;
    font-weight: 300;
    width: 293px;
    margin: auto;
    margin-bottom: 26px;
  }

  .title-course {
    text-align: center;
  }

  .container-course {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 109px 187px 119px 128px;
  }

  /* marfin no 1 filho da div */
  .title-course:first-child {
    margin-bottom: 0;
  }

  /* margin ultimo filho da div */
  .title-course:last-child {
    margin-top: 0;
  }

  .title-course img {
    height: 270px;
    width: 288px;
  }

  .button-title-course a button {
    height: 51px;
    width: 216px;
    font-size: 20px;
  }

  .button-title-course {
    display: flex;
    border-radius: 62px;
    margin-bottom: 25px;
    width: 233px;
    margin: auto;
  }

  /* O QUE FALAM SOBRE NOS */
  .container-about {
    padding: 55px;
    padding-bottom: 155px;
    padding-top: 119px;
  }

  .wrapper-about {
    flex-direction: row;
    gap: 97px;
  }

  .content-left,
  .content-right {
    gap: 86px;
  }

  .container-about h2 {
    text-align: left;
    margin-left: 218px;
  }
  .text-main {
    width: 363px;
  }

  /* MAIS CONTEUDO PARA VOCE */

  .conteiner-posts {
    display: flex;
    justify-items: center;
  }

  .conteiner-posts h2 {
    color: #009688;
    font-size: 37px;
    margin-top: 91px;
    margin-bottom: 73px;
  }

  .posts {
    display: flex;
    flex-direction: row;

    /* espaço entre os videos */
    justify-content: space-around;
    margin-left: 128px;
    margin-right: 137px;
  }

  .sub-tittle {
    font-size: 25px;
    width: 319px;
    text-align: left;
  }

  .sub-tittle h3 {
    font-size: 25px;
  }

  .sub-tittle p {
    font-size: 23px;
  }

  /* BUTTON  */

  .button-mais a {
    color: #ff4081;
  }
  .button-mais {
    display: flex;
    border: 2px solid #ff4081;
    border-radius: 62px;
    width: 219px;
    height: 51px;
    margin: 25px auto;
    margin-bottom: 53px;
    margin-top: 101px;

    justify-content: center;
    align-items: center;
  }
}
